/* STYLES SPECIFIC TO FOOTER  */
.footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color: #000000;
}

.hr {
  border-top: 1px solid rgb(170, 170, 170);
}
.sociallogo img{
height:30px;
}
.sociallogo{
  margin:15px 2.5px;
  }
.footerLink li,.form{
 font-size:14px;
 margin-top:10px;
 color:#b6b6b6;
}


@media only screen and (max-width: 768px) {
.footer{
  margin-bottom:58px;
}
}
