.submenu,.submenuSol{
display:none;
position:fixed;
width:100vw;
top:69px;
left:0 !important;
z-index:2;
}
.headerr{
    height:92px !important;
}
.menu:hover > .submenu{
display:block;
}
.menuSol:hover > .submenuSol{
display:block;
}
.hoverSubmenu{
    width:230px;
    transition: all .2s ease-in-out;
}
.hoverSubmenu:hover{
    transform: scale(1.1);
}
.hoverSubmenu:hover > h4{
color:red !important;
}
.bnt:hover{
background-color:rgb(220 38 38);
color:white;

}

@media only screen and (max-width: 818px) {
.hoverSubmenu{
    width:200px;

}
}