.submenu,.submenuSol{
display:none;
position:fixed;
width:100vw;
top:69px;
left:0 !important;
z-index:2;
}
.headerr{
    height:92px !important;
    position:fixed;
    z-index:4 !important;
}
.menu:hover > .submenu{
display:block;
}
.menuSol:hover > .submenuSol{
display:block;
}
.hoverSubmenu{
    width:230px;
    transition: all .2s ease-in-out;
}
.hoverSubmenu:hover{
    transform: scale(1.1);
}
.hoverSubmenu:hover > h4{
color:red !important;
}
.bnt:hover{
background-color:rgb(220 38 38);
color:white;

}

@media only screen and (max-width: 818px) {
.hoverSubmenu{
    width:200px;

}
}
.rightMenu{
    width:215px;
    height:97vh;
    /* display:none; */
    opacity:0.93;
    background-color:black;
    position:fixed;
    right:0;
    top:0;
    z-index:3;
    color:white;
    padding-left:30px;
    padding-top:100px;
    transition: width 2s linear 1s;
}
.rightMenu h3{
    height:50px;
    color: white;
    font-size:1rem;
    font-weight:bold;
    margin:auto auto;
    /* text-align:center; */
}
.rightMenu  li{
    list-style-type: square;
    color:#F53855;
    cursor:pointer;
}