.mainBody{
    font-family: "Source Sans Pro",sans-serif !important;
}

.banner{
    min-height:300px;
    width:100%;
    background: linear-gradient(to right, #113a5c, #586c80);
    /* background:linear-gradien(rgba(0,0,0,0.27), rgba(0,0,0,0.27)); */
    color:white;
    
}
.bannerForDb{

    min-height:380px;
    background:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("https://import.cdn.thinkific.com/648407%2Fcustom_site_themes%2Fid%2FgdkWvKYTvyA6VR3ec41A_bg.jpg?width=1920");
    position: relative;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.banner h1, .newbanner h1{
font-size:44px;
margin:20px 10px;
font-weight: bold;
text-align:center;
font-family:Roboto,sans-serif;
}
.banner h3,.newbanner h3{
font-size:24px;
margin:20px 10px;
text-align:center;
}
.butns{
    margin:30px 10px;
    
}
.nfpbutn{
    background-color: #e79913;
    color: white;
  
}
.nfpbutn:hover{
    background-color: #a06a0e;
}
.butns a{
    border-radius: 50px  !important;
    font-size: 18px;
    font-weight: 400;
    padding: 15px;
}
/* banner ends */
.secondDiv{
    text-rendering:  optimizeLegibility;;
    word-break: break-word;
}
.secondDiv p{
    font-size:18px;
    color:#212326;
    line-height: 1.5;
}
.headings, .Enrollheadings{
    font-size: 36px;
    font-weight: 400;
    font-family:"Libre Baskerville",sans-serif;
}
.Enrollheadings{
    font-size: 44px !important;
}
.secondDiv h3{
    font-size: 24px;
    line-height: 1.35;
}
.sideIcon{
    height:36px;
    width:36px;
}
/* Second div ends */
.thirdDiv{
    background-color: #F8F2E9;
    padding: 40px 20px;
    min-height: 350px;
}

.videoDet{
    padding: 30px;
   
}
.videoDet iframe{
    width:100%;
    height: 350px;
}
/* Hear out ends */

.sideBoxIcon{
    height:27px;
     width:27px;
}
.courseBox p, .featureBox p{
    font-size:18px;
    color:black;
}
.courseBox > p{
    font-size:24px !important;
}
.courseBox h2,.div3 h2{
    font-size:36px;
    font-weight:500;

}
.courseBox h3{
    font-size:20px;
}
.courseBox button:hover{
    background-color: #9FA6B2;
}
.div4 h2, .fifthDiv h2{
    font-size:36px;
    font-weight:500;
}
 .fifthDiv h3 {
    font-weight:400;
    font-size:22px;
    margin:20px auto;
   
}
.fifthDiv > h3 {
    font-size:24px;

}

.styleDiv{
    padding:10px;
  
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
 

}
.styleDiv:hover{

transform:scale(1.01);
}
.div4{
    background-color: #F8F2E9;
}
.newBg{
background-color:#F8F2E9;
}
.featureBox {
text-align:center;
padding:10px;
}
.faqDiv{
width:50%;
}
.faqDiv p{
    font-size: 18px;
}

.h3style{
font-size:22px !important;
font-weight:400;
}
.fourthDiv {
    background-color:#c3d4e8;

}
.fourthDiv h2{
    font-size: 44px;
    font-weight: bold;
}

.clickable{
    text-decoration: underline;
    font-size: 18px;
    color: #6F7282;
    margin: 0 10px;
}
.unclickable{
    margin: 0 10px;
    font-size: 18px;
}
.ansDiv{
    display: flex;
    flex-direction: row;
}
.ansDiv .freePreview{
    width:130px;
    background-color: black;
    color: white;
    padding: 4px 4px;
    border-radius:8px;
}
.courseContent h3{
    font-size:20px;
    font-weight:bold;
    text-align: start !important;
    margin-left:10px;
}
.cardDet{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px !important;
}
.sideBox{
font-size: 20px !important;
}
.enroll h2{
    font-size: 32px;
}
.enroll h3{
    font-size: 24px;
}

.imgFor2ndTypeSubCourse{
width: 100%;
}
@media only screen and (max-width: 768px) {
    .videoDet iframe{
        width:70%;
        height: 250px;
    }
    .videoDet{
        padding: 0 30px;
    }
    .faqDiv{
        width:70%;
        }
}

@media only screen and (max-width: 600px) {
  
    .Enrollheadings,.banner h1, .newbanner h1, .fourthDiv h2,.courseBox h2,.div3 h2,.headings,.div4 h2,.fifthDiv h2{
font-size:34px;
}
.banner h3, .fifthDiv h3,.h3style,.secondDiv h3,.newbanner h3 {
font-size:18px;
}
/* .div3 p, .courseBox p, .featureBox p,.secondDiv p, .ansDiv p,.freePreview{
    font-size:14px;
  
} */

.enroll h2{
    font-size: 24px;
}
.enroll h3{
    font-size: 18px;
}

.courseBox h3{
    font-size:16px;
}




}


@media only screen and (max-width: 500px) {
    .videoDet iframe{
        width:90%;
        height: 200px;
    }
   
}
@media only screen and (max-width: 430px) {
  
    .Enrollheadings, .fifthDiv h2, .banner h1,.newbanner h1, .fourthDiv h2,.courseBox h2,.div3 h2,.headings,.div4 h2{
  font-size:30px;
  }
  
  .faqDiv p, .div3 p, .courseBox p, .featureBox p,.secondDiv p , .ansDiv p,.freePreview,.unclickable,.sideBox,.newbanner h3{
      font-size:16px;
    
  }
  .ansDiv{
    
    flex-direction: column;
}
.ansDiv button{
    margin-left:30px;
}
.courseBox h3,.secondDiv h3,.banner h3, .fifthDiv h3,.h3style {
      font-size:16px !important;
  }
  

  .enroll h2{
    font-size: 20px;
}
.enroll h3{
    font-size: 16px;
}

.faqDiv{
    width:90%;
    }
  
  }
  @media only screen and (max-width: 300px) {
  
    .Enrollheadings, .fifthDiv h2, .banner h1, .newbanner h1, .fourthDiv h2,.courseBox h2,.div3 h2,.headings,.div4 h2{
  font-size:24px;
  }
  
  .faqDiv p, .div3 p, .courseBox p, .featureBox p,.secondDiv p , .ansDiv p,.freePreview,.unclickable{
      font-size:14px;
    
  }
  .ansDiv{
    
    flex-direction: column;
}
.ansDiv button{
    margin-left:20px;
}
  .sideBox, .courseBox h3,.secondDiv h3,.banner h3,.newbanner h3, .fifthDiv h3,.h3style {
      font-size:14px;
  }
  .enroll h2{
    font-size: 18px;
}
.enroll h3{
    font-size: 14px;
}

.videoDet iframe{
    width:100%;
    height: 150px;
}
  
  }