.heading{
    /* font-size:30px; */
    font-weight:500;
}
.keybox{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    cursor: pointer;
    transition: transform .5s;
}
.keybox :hover{
    transform: scale(1.05);
}
.feedbackBox{
    width:75vw;
    margin:auto auto;
  }
  .feedbackBox h2{
    /* font-size:30px; */
    text-align:center;
  }
  .feedbackBox h3{
    /* font-size:20px; */
    text-align:center;
  }
  .feedbackBox p{
    /* font-size:16px; */
    text-align:center;
  }
  .h1fs{
    font-size: 44px ;
}
.h2fs{
font-size: 36px;
}
.h3fs{
font-size: 24px;
}
.pfs{
font-size: 18px !;
}

@media only screen and (max-width: 600px) {

    .feedbackBox{
        width:85vw;
      }
  
      .h1fs,.h2fs{
        font-size: 34px;
    }
    .h3fs,.pfs{
    font-size: 18px;
    }
}
@media only screen and (max-width: 430px) {
      .feedbackBox{
        width:95vw;
      }
      .h1fs,.h2fs{
        font-size: 30px;
    }
    .h3fs,.pfs{
    font-size: 16px;
    }
  }