.banner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
  }
  
  .banner-image {
    width: 100%;
    height: auto;
  }
  
  .banner-wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: url('/assets/wave.svg') repeat-x; /* Replace 'wave.svg' with your wave image */
  }
  .heading{
   color:rgb(35,110,172);
    padding:10px;
    margin:auto;
    font-size:2.7rem;
    font-weight:bold;
    text-align:center;
    
}
.gradient{

background-color:rgba(211,229,255,255);
padding:15px;
display:flex;
flex-direction:row;
}

.bannerDetails{
  width:80vw;
  position :relative;
  bottom:50px;
  margin:0 auto;
  background-color:white;
}
.bannerDetails h3{
  font-weight:500;
  background-color:white;
  padding:10px;
  margin:12px auto;
  font-size:1.4rem;
  width:100%;
  text-align:center;

}
.bannerImg{
  height:110vh;
  width:100vw; 
}
.aboutBox h1{
  font-size: 20px;
  font-weight:bold;
  margin:15px 0;
}
.aboutBox p{
  font-size:16px;
}
.aboutImage{
width:100vw;
height:350px;
}
.careerHead{
  font-size:30px;
  font-weight:bold;
  margin-bottom:20px;
}

.careerDet{
  font-size:20px;
}
.careerButton{
  font-size:16px;
}
.careerImg{
  height:450px;
}

.letsConnect h3{
  font-size:24px;
}
.letsConnect p{
  font-size:16px;
}
.techExpertiseImg{
  height: 150px;
  width: 150px; 
  margin: 0 auto;
  objectFit:contain; 
}
@media only screen and (max-width: 600px) {
 
  .bannerImg{
    height:90vh;
  }
  .bannerDetails h3{
  font-size:16px;
  }
  .bannerDetails p, .aboutBox p, .letsConnect p{
    font-size:12px;
  }
 .heading{
  font-size:30px;
 }
 .aboutBox h1{
  font-size: 16px;
}
.letsConnect h3{
  font-size:20px;
}
.careerHead{
  font-size:24px;
  font-weight:bold;
  margin-bottom:20px;
}

.careerDet{
  font-size:16px;
}
.careerButton{
  font-size:12px;
}
.careerImg{
  height:350px;
}
}
@media only screen and (max-width: 430px) {
  
  .bannerImg{
    height:70vh;
  }
  .bannerDetails h3{
  font-size:12px;
  }
  .bannerDetails p, .aboutBox p, .letsConnect p{
    font-size:10px;
  } 
  .aboutBox h1{
    font-size: 12px;
  }
  .careerHead{
    font-size:20px;
    font-weight:bold;
    margin-bottom:20px;
}

.careerDet{
    font-size:12px;
}
.careerButton{
    font-size:10px;
}
.careerImg{
    height:250px;
}
.letsConnect h3{
  font-size:16px;
}
}
@media only screen and (max-width: 320px) {
  .heading{
    font-size:24px;
   } 
   .careerHead{
    font-size:16px;

}
}