.banner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
  }
  
  /* .banner-image {
    width: 100%;
    height: auto;
  } */
  
  .banner-wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: url('/assets/wave.svg') repeat-x; /* Replace 'wave.svg' with your wave image */
  }
  .heading{
   color:rgb(35,110,172);
    padding:10px;
    margin:auto;
    font-size:30px;
    font-weight:bold;
    text-align:center;
    
}
.gradient{

background-color:rgba(211,229,255,255);
padding:15px;
display:flex;
flex-direction:row;
}

.bannerDetails{
  width:80vw;
  position :relative;
  bottom:50px;
  margin:0 auto;
  background-color:white;
}
.bannerDetails h3{
  font-weight:500;
  background-color:white;
  padding:10px;
  margin:12px auto;
  font-size:1.4rem;
  width:100%;
  text-align:center;

}

.aboutBox h2{
  font-size: 30px;
  margin:15px 0;
}
.caseStudyHead{
  font-size: 20px;
}
.aboutBox p{
  font-size:16px;
}
.aboutImage{
width:100vw;
height:350px;
}
.careerHead{
  font-size:30px;
  font-weight:bold;
  margin-bottom:20px;
}

.careerDet{
  font-size:20px;
}
.careerButton{
  font-size:16px;
}
.careerImg{
  height:450px;
}

.letsConnect h3{
  font-size:24px;
}
.letsConnect p{
  font-size:16px;
}
.techExpertiseImg{
  height: 100px;
  width: 250px; 
  margin: 0 auto;
  objectFit:contain; 
}
.detailOnTopOfBanner{
  position: relative;
  width: 100%;
}
.overlayContent {
  position: absolute;
  top: 50%; /* Adjust the vertical position as needed */
  left: 26%; /* Adjust the horizontal position as needed */
  transform: translate(-50%, -50%);
  text-align: left;
  color: #fff; /* Adjust text color as needed */
  max-width: 50%; /* Adjust the maximum width as needed */
}
.overlayContent h3{
  font-size:24px;

}
.overlayContent p{
  font-size:16px;
  margin-top:5px;
  color:white !important
}
@media only screen and (max-width: 768px) {

  .overlayContent p{
    display:none;
  }
}
@media only screen and (max-width: 640px) {
  .letsConnect{
    text-align:center;
  }  
  

}
@media only screen and (max-width: 600px) {
  .overlayContent h3{
    font-size:20px;
  }
  .overlayContent{
    top:45%;
  }
  .bannerDetails h3, .caseStudyHead{
  font-size:16px;
  }
  .bannerDetails p, .aboutBox p, .letsConnect p{
    font-size:14px;
  }
 .heading{
  font-size:24px;
 }
 .aboutBox h2{
  font-size: 24px;
}
.letsConnect h3{
  font-size:20px;
}
.careerHead{
  font-size:24px;
  font-weight:bold;
  margin-bottom:20px;
}

.careerDet{
  font-size:16px;
}
.careerButton{
  font-size:14px;
}
.careerImg{
  height:350px;
}
}


@media only screen and (max-width: 430px) {
   .overlayContent h3{
    font-size:16px;
  }
  .heading{
    font-size:20px !important;
   }
  .bannerDetails{
   
    bottom:30px;
  
  }
  .bannerDetails h3, .caseStudyHead{
  font-size:12px;
  }
  .bannerDetails p, .aboutBox p, .letsConnect p{
    font-size:12px;
  } 
  .aboutBox h2{
    font-size: 20px;
  }
  .careerHead{
    font-size:20px;
    font-weight:bold;
    margin-bottom:20px;
}

.careerDet{
    font-size:12px;
}
.careerButton{
    font-size:12px;
}
.careerImg{
    height:250px;
}
.letsConnect h3{
  font-size:16px;
}
}
@media only screen and (max-width: 320px) {
  .heading{
    font-size:20px;
   } 
   .careerHead{
    font-size:16px;

}
.overlayContent h3{
  font-size:14px !important ;
}
}
@media only screen and (max-width: 230px) {
  .overlayContent h3{
    font-size:12px !important;
  }
}