.gradient{

background-color:rgba(211,229,255,255);
padding:15px;
display:flex;
flex-direction:row;
}
.careerHead{
    font-size:30px;
    font-weight:bold;
    margin-bottom:20px;
}
.featuresDet h3{
    font-size:30px;
}
.careerDet{
    font-size:20px;
}
.careerButton,.featuresDet p{
    font-size:16px;
}
.careerImg{
    height:450px;
    margin:auto auto;
}
.blogDet h1{
        font-size:30px;
        text-align:center;
        
}

.styleDiv{
    padding:10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    
}
.styleDiv:hover{
    background-color:rgb(251 251 249);
    cursor:pointer;
    transform: scale(1.02);

}
.h3style{
    font-size:20px;
    font-weight:600;
    color:black;
  }
  .h3style:hover{
    color:#F53855;
    pointer:cursor;
}
  .styleDiv p{
    font-size:16px;
  }
  .anchorTag{
    color:grey;
    font-size:12px;
    text-decoration: underline;
  }
  .anchorTag:hover{
    color:#F53855;
}
@media only screen and (max-width: 600px) {
    .careerHead{
        font-size:24px;
        font-weight:bold;
        margin-bottom:20px;
    }
    .featuresDet h3{
        font-size:24px;
    }
    .blogDet h1{
        font-size:24px;
}
    .careerDet,.h3style{
        font-size:16px;
    }
    .careerButton,.featuresDet p{
        font-size:12px;
    }
    .careerImg{
        height:350px;
    }
}
@media only screen and (max-width: 430px) {
    .careerHead{
        font-size:20px;
        font-weight:bold;
        margin-bottom:20px;
    }
    .blogDet h1{
        font-size:20px;
}
    .featuresDet h3{
        font-size:20px;
    }
    .careerDet{
        font-size:12px;
    }
    .h3style{
        font-size:14px;

    }
    .careerButton, .featuresDet p{
        font-size:10px;
    }
    .careerImg{
        height:250px;
    }
}