.banner{
    min-height:250px;
    width:100%;
    background: linear-gradient(to right, #283c5c, #283c3a);
    color:white;

}
.h1fs{
    font-size: 44px ;
}
.h2fs{
font-size: 36px;
}
.h3fs{
font-size: 24px;
}
.pfs{
font-size: 18px;
}

.banner h1{
/* font-size:44px; */
margin:20px 10px;
text-align:center;
}
.banner h2{
/* font-size:18px; */
margin:15px 10px;
text-align:center;
}
.courseBox p, .featureBox p,.secondDiv p{
    /* font-size:18px; */
    color:black;
}
.courseBox h2,.div3 h2{
    /* font-size:30px; */
    font-weight:500;

}
/* .courseBox h3{
    font-size:20px;
} */
.secondDiv h2,.div4 h2{
    /* font-size:30px; */
    font-weight:500;
}
.secondDiv h3 {
    font-weight:400;
    /* font-size:20px; */
    margin:20px auto;
}
.styleDiv{
    padding:10px;
  
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
 

}
.styleDiv:hover{

transform:scale(1.01);
}
.div4{
background-color:skyblue;
}
.featureBox {
text-align:center;
padding:10px;
}
.faqDiv{
width:500px;
}
.h3style{
/* font-size:16px; */
font-weight:bold;
}

.fifthDiv h2{
    /* font-size:36px; */
    font-weight:500;
}
.h3style1{
/* font-size:22px !important; */
font-weight:400;
}
.clickable{
    text-decoration: underline;
    /* font-size: 18px; */
    color: #6F7282;
    margin: 0 10px;
}
.unclickable{
    margin: 0 10px;
    /* font-size: 18px; */
}
.ansDiv{
    display: flex;
    flex-direction: row;
}
.ansDiv .freePreview{
    width:130px;
    background-color: black;
    color: white;
    padding: 4px 4px;
    border-radius:8px;
}
.courseContent h3{
    /* font-size:20px; */
    font-weight:bold;
    text-align: start !important;
    margin-left:10px;
}
.cardDet{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px !important;
}
/* .sideBox{
font-size: 20px !important;
} */
.sideBoxIcon{
    height:27px;
     width:27px;
}
.fifthDiv h3 {
    font-weight:400;
    /* font-size:22px; */
    margin:20px auto;
   
}
/* .fifthDiv > h3 {
    font-size:24px;

} */
.svgIcon{
    height: 20px !important;
    width: 20px !important;
}
@media only screen and (max-width: 600px) {
  
/* .banner h1,.courseBox h2,.div3 h2,.secondDiv h2,.div4 h2{
font-size:24px;
} */
/* .fifthDiv h2{
    font-size:34px;
    }
    .fifthDiv h3{
    font-size:18px;
    }
.div3 p,.banner p, .courseBox p, .featureBox p,.secondDiv p,.h3style{
    font-size:14px;
  
}

.courseBox h3,.secondDiv h3 {
    font-size:16px;
} */

.h1fs,.h2fs{
    font-size: 34px;
}
.h3fs,.pfs{
font-size: 18px;
}
.faqDiv{
max-width:500px;
}


}
@media only screen and (max-width: 600px) {
    .faqDiv{
        max-width:100%;
        }
}
@media only screen and (max-width: 430px) {
  
  /* .banner h1,.courseBox h2,.div3 h2,.secondDiv h2,.div4 h2{
  font-size:20px;
  }
  
  .div3 p,.banner p, .courseBox p, .featureBox p,.secondDiv p,.h3style{
      font-size:12px;
    
  }
  
  .courseBox h3,.secondDiv h3 {
      font-size:14px;
  }
  
  
 .freePreview,.unclickable,.sideBox{
    font-size:16px;
}
.h3style1,.fifthDiv h3{
    font-size:16px !important;
} */

.h1fs,.h2fs{
    font-size: 30px;
}
.h3fs,.pfs{
font-size: 16px;
}
  }
  @media only screen and (max-width: 300px) {
    /* .fifthDiv h2{
        font-size:24px;
        }
        .ansDiv p,.sideBox, .fifthDiv h3,.h3style1,.freePreview,.unclickable {
            font-size:14px;
        } */
        .ansDiv{
    
            flex-direction: column;
        }
        .ansDiv button{
            margin-left:30px;
        }
}