.bannerDetails{
    position: absolute;
    top:15vh;
    left:25px;
    color:white;
    margin-right:20px !important;
   
}
.bannerDetails p{
    width:68vw;
    text-align:start;
}
.bannerDetailsCareer{
    width:80vw;
    position :relative;
    bottom:50px;
    margin:0 auto;
    background-color:white;
  }
  .heading{
    color:rgb(35,110,172);
     
 
     padding:5px 10px;
     margin:auto;
     font-size:2.7rem;
     font-weight:bold;
     text-align:center;
     
     
 }
 .det{
   position:relative;
   bottom:35px;
   font-size:16px;
   margin:10px 3vw;
 }
 .caseheading{
    max-width:460px;
    background-color:white;
    margin-top:10%;
border-radius:4px;
}
.caseheading,.subheading{
margin-left: 10%;
padding:6px;
font-size:20px;
}
.subheading{
color:white;
}
.bannerDetails h2,.careerPageVideo h2,.intern h2{
font-size:30px;
}
.bannerDetails p, .careerPageVideo li, .aboveIntern p,.intern p{
font-size:16px;
}
.careerPage h2{
    font-size:40px;
    font-weight:bold;
}
.careerPage h3{
    font-size:20px;
}
.careerTable {
font-size:16px;
}
.careerTableTop, .intern {
    width:75vw;
}
.headJob{
    font-size:30px;
}
.Faqs{
    display:none;
  }
  .Faqs p{
    font-size:16px;
  }
  .h3style{
    font-size:20px;
    font-weight:bold;
    color:black;
  }
.mentorr , .resumeBuilder{
    background-image: linear-gradient(to right, #fcbb83 , #fd9a73, #ff9a80, #ff7c7c);
    height:120px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.mentorr h2, .resumeBuilder h2{
    font-weight:bold;
    font-size:24px;
}
.resumeBuilder{
    background-image: linear-gradient(to right, #3fdc88,#31cf8c ,#36d98f,#27ca91);
}
.mentorr:hover , .resumeBuilder:hover{
    cursor:pointer;
    transform:scale(1.01);
}
.testimoni p{
    font-size:16px;
}
.bannerButton{
    font-size:16px;
    padding :10px 25px;
    background-color:#F53855;
     border-radius:5px;
     margin-top:10px;
    }
    .letsConnect h2{
        font-size:24px;
      }
      .letsConnect p{
        font-size:16px;
      }
@media only screen and (max-width: 1139px) {
    .bannerDetails{
    position: absolute;
    top:10vh;
   }
}

@media only screen and (max-width: 950px) {
    .bannerDetails{
    position: absolute;
    top:7vh;
   }
   .bannerDetails p{
    width:95vw;
    text-align:center;
}
   .careerTableTop{
    width:85vw;
}
.intern{
    width:85vw;
}
 
}
@media only screen and (max-width: 918px) {
    .caseheading{
      margin-top:10%;
    }
    
    
    .caseheading,.subheading{
      font-size:16px;
      }
    
  }
@media only screen and (max-width: 768px) {
    .caseheading{
      margin-top:5%;
    }
    .mentorr h2, .resumeBuilder h2{
        font-size:20px;
    }
  }
@media only screen and (max-width: 600px) {
    .bannerDetails{
    position: absolute;
    top:4vh;
    left:20px;

   }
   .h3style{
    font-size:16px;
    margin:5px 0;
  }
   .mentorr h2, .resumeBuilder h2{
    font-size:16px;
}
   .heading{
    font-size:30px;
   }
   .bannerDetails h2,.careerPageVideo h2 , .headJob{
    font-size:24px;
    }
    .letsConnect p,    .Faqs p,  .bannerButton, .bannerDetails p,.careerPageVideo li,.intern p,.aboveIntern p,.det{
    font-size:12px;
    }
   
    .careerPage h2{
        font-size:30px;
    }
    .careerPage h3{
        font-size:16px;
    }
    .careerTable {
        font-size:12px;
    }
    .careerTableTop, .intern{
        width:95vw;
    }
    .bannerDetailsCareer{
 
        bottom:30px;
       
      }
      .letsConnect h2{
        font-size:20px;
      }
}
@media only screen and (max-width: 500px) {
    .caseheading,.subheading{
      font-size:12px !important;
      }
  }
@media only screen and (max-width: 430px) {
    .bannerDetails{
    position: absolute;
    top:2vh;
    left:15px;

   }
   .h3style{
    font-size:12px;
    
  }
   .heading{
    font-size:24px;
   }
   .bannerButton{
   font-size:10px;
   padding:4px 20px;
   }
   .bannerDetails h2{
    font-size:16px;
    }
    .letsConnect p,  .Faqs p,.bannerDetails p,.careerPageVideo li{
    font-size:10px;
    }
    .careerPage h2{
        font-size:24px;
    }
    .careerPage h3{
        font-size:12px;
    }
    .careerPageVideo h2, .headJob{
        font-size:20px;
        }
        .careerTable, .intern p,.aboveIntern p {
            font-size:10px;
            }
            .testimoni p{
                font-size:10px !important;
            }    
            .letsConnect h2{
                font-size:16px;
              }
}
@media only screen and (max-width: 340px) {
    .caseheading,.subheading{
        font-size:10px;
        }
    .bannerButton{
   margin:auto auto;
   font-size:8px;
   margin-top:3px;
   }
   .heading{
    font-size:20px;
   }
   .bannerDetails{
    position: absolute;
    top:0.35vh;
    left:5px;
    right:5px;
   }
   .bannerDetails h2{
    font-size:14px;
   }
   .bannerDetails p{
    font-size:8px;
   }
   .careerTable {
    font-size:6px;
    }
   
}