.bannerDetails{
    position: absolute;
    top:15vh;
    left:50px;
    color:white;
    
}
.bannerDetails h1,.careerPageVideo h1,.intern h1{
font-size:30px;
}
.bannerDetails p, .careerPageVideo li, .aboveIntern p,.intern p{
font-size:16px;
}
.careerPage h1{
    font-size:40px;
    font-weight:bold;
}
.careerPage h3{
    font-size:20px;
}
.careerTable {
font-size:16px;
}
.careerTableTop, .intern {
    width:75vw;
}
.headJob{
    font-size:30px;
}
@media only screen and (max-width: 1139px) {
    .bannerDetails{
    position: absolute;
    top:10vh;
   }
}
@media only screen and (max-width: 950px) {
    .bannerDetails{
    position: absolute;
    top:7vh;
   }
   .careerTableTop{
    width:85vw;
}
.intern{
    width:85vw;
}
 
}
@media only screen and (max-width: 600px) {
    .bannerDetails{
    position: absolute;
    top:4vh;
    left:20px;

   }
   .bannerDetails h1,.careerPageVideo h1,.headJob{
    font-size:24px;
    }
    .bannerDetails p,.careerPageVideo li,.intern p,.aboveIntern p{
    font-size:12px;
    }
   
    .careerPage h1{
        font-size:30px;
    }
    .careerPage h3{
        font-size:16px;
    }
    .careerTable {
        font-size:12px;
    }
    .careerTableTop, .intern{
        width:95vw;
    }

}
@media only screen and (max-width: 430px) {
    .bannerDetails{
    position: absolute;
    top:2vh;
    left:15px;

   }
   .bannerButton{
   font-size:10px;
   }
   .bannerDetails h1{
    font-size:16px;
    }
    .bannerDetails p,.careerPageVideo li{
    font-size:10px;
    }
    .careerPage h1{
        font-size:24px;
    }
    .careerPage h3{
        font-size:12px;
    }
    .careerPageVideo h1,.headJob{
        font-size:20px;
        }
        .careerTable, .intern p,.aboveIntern p {
            font-size:10px;
            }
           
}
@media only screen and (max-width: 290px) {
    
    .bannerButton{
   margin:auto auto;
   font-size:10px;
   }
   .bannerDetails{
    position: absolute;
    top:0.35vh;
    left:5px;

   }
   .careerTable {
    font-size:6px;
    }
   
}