.heading{
   color:rgb(35,110,172);
    padding:5px 10px;
    margin:auto;
    font-size:2.7rem ;
    font-weight:bold;
    text-align:center;
    
    
}
.letsConnect h2{
  font-size:24px;
}
.letsConnect p{
  font-size:16px;
}
.det{
  position:relative;
  bottom:35px;
  margin:10px 3vw;
}
.solDivstyle,.solnsDivstyle,.eachServicesDivstyle{
   cursor:pointer;
    background-color:white;
    opacity:0.7;
    margin:10px;
    border-radius:10px;
    box-shadow: "rgba(149, 157, 165, 0.2) 0px 8px 24px";
    transition: all .2s ease-in-out;
    }
    .eachServicesDivstyle:hover, .solDivstyle:hover, .solnsDivstyle:hover{
    transform: scale(1.1);
}
.eachServicesDivstyle{
  margin:0;
}
.solDivstyle img{
  height:30px;
  width:30px;
  margin-right:5px;
}
.Faqs{
  display:none;
}
.caseheading{

    background-color:white;
    margin-top:30px;
border-radius:4px;
}
.caseheading,.subheading{
/* margin: 50px 10px; */
padding:6px;
font-size:20px;
}
.subheading{
color:white;
font-size:16px;
}
.styleDiv{
    padding:10px;
  
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    
}
.head{
  font-size:30px;
}
.styleDiv:hover{
    background-color:rgb(251 251 249);
    cursor:pointer;
}
.upcomingCourse{
 background:url("/assets/1.jpg");
 
}
.techService{
}

.content {
  text-align: center;
  background-color:white;
  opacity:0.5;
  font-size:30px;
  color: black;
  padding:10px;
  font-weight:bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.extraText {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
}
.h3style{
  font-size:20px;
  font-weight:bold;
  color:black;
}

.bannerDetails{
  width:80vw;
  position :relative;
  bottom:50px;
  margin:0 auto;
  background-color:white;
}
.bannerDetails h2{
  font-weight:500;
  background-color:white;
  padding:10px;
  margin:12px auto;
  width:100%;
  text-align:center;

}
.bannerImg{
  height:110vh;
  width:100vw; 
}
.detailBox h2
{
  font-size: 30px;
}
.detailBox p{
  font-size:16px;
}
.aboutImage{
width:100vw;
height:350px;
}
.caseStudyBox h2, .partnersBox h2{
  font-size:30px;
}
.caseStudyBox p,.det{
  font-size:16px;
}
.solutionsBox{
  border-bottom:1px solid white;
}

.careerTable {
  font-size:16px;
  }
  .careerTableTop{
      width:75vw;
  }
  .careerTableTop h1{
      font-size:30px;
  }

.icons{
  margin-right:10px;
  height:40px;
}
.topbannerDetailsInAcademy{
position:absolute;
top:180px;
left:25px;
width:65vw;
}
.topbannerDetailsInAcademy .btn{
  background-color:#F53855;
 color:white;
 padding :5px 35px;

}
.topbannerDetailsInAcademy p{
  font-size:16px;
  /* font-weight:500; */
  margin-top:40px;
  width:50vw;
}
.topbannerDetailsInAcademy h1{
  font-size:30px;
}

@media only screen and (max-width: 992px) {
  .imgInPurplediv{
    visibility:hidden;
    height:0;
   }
}
@media only screen and (max-width: 950px) {

  .careerTableTop{
   width:85vw;
 }
 /* .bannerDetails{
   position: absolute;
   top:7vh;
  } */
 
 }
 @media only screen and (max-width: 918px) {

  .topbannerDetailsInAcademy {
    top :110px;
  }
  .topbannerDetailsInAcademy p{
    margin-top :20px;
  }
}

@media only screen and (max-width: 768px) {
  .icons{
    height:30px;
  }
  .solnsDivstyle,.eachServicesDivstyle{
    border-bottom:1px solid black;
  }
  .topbannerDetailsInAcademy h1{
    font-size:20px;
  }
  .topbannerDetailsInAcademy p{
   display:none;
  }
   
 .topbannerDetailsInAcademy{
  top:180px;
  width:53vw;
 }
 .topbannerDetailsInAcademy p,.topbannerDetailsInAcademy .btn{
  font-size:14px;
  margin-top:10px;
}
}
@media only screen and (max-width: 640px) {
  .letsConnect{
    text-align:center;
  }  
}
@media only screen and (max-width: 600px) {
  .topbannerDetailsInAcademy{
    top:150px;
  }
 .caseheading, .bannerDetails h2{
  font-size:16px;
  }
  .Faqs p,.subheading, .letsConnect p,.styleDiv p,.bannerDetails p, .detailBox p, .eachServicesDivstyle p, .solnsDivstyle p, .det , .extraText{
    font-size:14px;
  }
 .heading{
  font-size:30px;
 }
 .detailBox h2, .head,.content, .careerTableTop h1, .letsConnect h2{
  font-size: 24px;
 
}
.topbannerDetailsInAcademy h1{
  font-size:20px !important;
}

.solDivstyle img{
  height:24px;
  width:5px;
 
}
.h3style{
  font-size:16px;
  margin:5px 0;
}
.caseStudyBox h2, .partnersBox h2{
  font-size:24px;
}
.caseStudyBox p, .careerTable{
  font-size:14px;
}

.caseSub h2, .caseSub h3, .caseSub button{
  margin-left: 8%;
}
.careerTableTop{
  width:95vw;
}
.bannerDetails{
 
  bottom:35px;
 
}
}

@media only screen and (max-width: 500px) {

    .topbannerDetailsInAcademy h1{
      font-size:16px !important;
    }
    .topbannerDetailsInAcademy p{
      font-size:12px;
    }
     .topbannerDetailsInAcademy .btn{
         
     padding :3px 35px;
    
    }
   
}
@media only screen and (max-width: 430px) {
  .heading{
    font-size:24px;
   } 
  .bannerDetails{
 
    bottom:35px;
   
  }
  .letsConnect h2{
    font-size:16px;
  }
  .careerTableTop{
    width:98vw;
  }
  .caseSub h2, .caseSub h3, .caseSub button{
    margin-left: 4%;
  }
  .bannerImg{
    height:70vh;
  }
  .caseheading,.bannerDetails h2{
  font-size:14px;
  }
  .Faqs p, .subheading, .styleDiv p, .bannerDetails p, .detailBox p, .solnsDivstyle p, .eachServicesDivstyle p, .det, .extraText, .careerTable{
    font-size:12px !important;
  } 
  .detailBox h2, .careerTableTop h1{
    font-size: 20px;
  }
  .h3style{
    font-size:14px;
    
  }
  .caseStudyBox h2 , .partnersBox h2,.head, .content{
    font-size:20px;
  }
  .caseStudyBox p{
    font-size:12px;
  }

    .icons{
      height:16px;
      
    }
    .solDivstyle img{
      height:20px;
      width:20px;
    }
    .topbannerDetailsInAcademy h1{
      font-size:14px !important;
    }
    .topbannerDetailsInAcademy .btn {
      font-size:10px !important;
      padding :1px 10px;
      margin-top:1px;
    }
    .topbannerDetailsInAcademy p{
      font-size:12px;
      margin-top:3px;
    }

 
}
@media only screen and (max-width: 390px) {
  .heading{
    font-size:24px;
   } 
   
    .caseSub h2, .caseSub h3, .caseSub button{
      margin-left: 1%;
    }
    .topbannerDetailsInAcademy{
      top:130px;
    }
    .topbannerDetailsInAcademy h1
    {
      font-size:12px !important;
    }
    .topbannerDetailsInAcademy .btn {
      font-size:10px !important;
    }
    .topbannerDetailsInAcademy p{
      font-size:8px;
      
    }
    .topbannerDetailsInAcademy .btn{
         padding :1px 15px;
     
     }
}
@media only screen and (max-width: 315px) {
  .topbannerDetailsInAcademy h1
  {
    font-size:10px !important;
  }

  .topbannerDetailsInAcademy{
    left:15px;
    top:120px;
  }
}