.heading{
   color:rgb(35,110,172);
    

    padding:5px 10px;
    margin:auto;
    font-size:2.7rem;
    font-weight:bold;
    text-align:center;
    
    
}
.det{
  position:relative;
  bottom:35px;
  margin:10px 3vw;
}
.solDivstyle,.solnsDivstyle,.eachServicesDivstyle{
   cursor:pointer;
    background-color:white;
    opacity:0.7;
    margin:10px;
    border-radius:10px;
    box-shadow: "rgba(149, 157, 165, 0.2) 0px 8px 24px";
    transition: all .2s ease-in-out;
    }
    .eachServicesDivstyle:hover, .solDivstyle:hover, .solnsDivstyle:hover{
    transform: scale(1.1);
}
.eachServicesDivstyle{
  margin:0;
}
.solDivstyle img{
  height:30px;
  width:30px;
  margin-right:5px;
}
.Faqs{
  display:none;
}
.caseheading{
    max-width:460px;
    background-color:white;
    margin-top:18%;
border-radius:4px;
}
.caseheading,.subheading{
margin-left: 10%;
padding:6px;
font-size:20px;
}
.subheading{
color:white;
}
.styleDiv{
    padding:10px;
  
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    
}
.head{
  font-size:30px;
}
.styleDiv:hover{
    background-color:rgb(251 251 249);
    cursor:pointer;
}
.upcomingCourse{
 background:url("/assets/1.jpg");
 
}
.techService{
}

.content {
  text-align: center;
  background-color:white;
  opacity:0.5;
  font-size:30px;
  color: black;
  padding:10px;
  font-weight:bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.extraText {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
}
.h3style{
  font-size:20px;
  font-weight:bold;
  color:black;
}

.bannerDetails{
  width:80vw;
  position :relative;
  bottom:50px;
  margin:0 auto;
  background-color:white;
}
.bannerDetails h3{
  font-weight:500;
  background-color:white;
  padding:10px;
  margin:12px auto;
  font-size:1.4rem;
  width:100%;
  text-align:center;

}
.bannerImg{
  height:110vh;
  width:100vw; 
}
.detailBox h1{
  font-size: 30px;
}
.detailBox p{
  font-size:16px;
}
.aboutImage{
width:100vw;
height:350px;
}
.caseStudyBox h1, .partnersBox h1{
  font-size:30px;
}
.caseStudyBox p,.det{
  font-size:16px;
}
.solutionsBox{
  border-bottom:1px solid white;
}

.careerTable {
  font-size:16px;
  }
  .careerTableTop{
      width:75vw;
  }
  .careerTableTop h1{
      font-size:30px;
  }

.icons{
  height:50px;
}
.topbannerDetailsInAcademy{
position:absolute;
top:25vh;
left:15px;
}
.topbannerDetailsInAcademy .btn{
  background-color:#F53855;
 color:white;
 padding :5px 35px;

}
.topbannerDetailsInAcademy p{
  font-size:16px;
  /* font-weight:500; */
  width:75vw;
}
.topbannerDetailsInAcademy h1{
  font-size:30px;
}

@media only screen and (max-width: 1139px) {
  .topbannerDetailsInAcademy{
  position: absolute;
  top:18vh;
 }
}
@media only screen and (max-width: 950px) {
  
  .careerTableTop{
   width:85vw;
 }
 /* .bannerDetails{
   position: absolute;
   top:7vh;
  } */
 
 }
 @media only screen and (max-width: 918px) {
  .caseheading{
    margin-top:10%;
  }
  
  
  .caseheading,.subheading{
    font-size:16px;
    }
  
}

@media only screen and (max-width: 768px) {
  .caseheading{
    margin-top:5%;
  }
  .solnsDivstyle,.eachServicesDivstyle{
    border-bottom:1px solid black;
  }
  .topbannerDetailsInAcademy h1{
    font-size:24px;
  }
  .topbannerDetailsInAcademy p{
  width:90vw;
  }
   
 .topbannerDetailsInAcademy{
  top:13vh !important;
 }
}
@media only screen and (max-width: 600px) {

  .bannerDetails h3{
  font-size:16px;
  }
  .styleDiv p,.bannerDetails p, .detailBox p, .eachServicesDivstyle p, .solnsDivstyle p, .det , .extraText{
    font-size:12px;
  }
 .heading{
  font-size:30px;
 }
 .detailBox h1, .head,.content, .careerTableTop h1{
  font-size: 24px;
 
}
.topbannerDetailsInAcademy h1{
  font-size:20px !important;
}
.topbannerDetailsInAcademy p,.topbannerDetailsInAcademy .btn{
  font-size:12px;
  
}
.solDivstyle img{
  height:24px;
  width:5px;
 
}
.h3style{
  font-size:16px;
  margin:5px 0;
}
.caseStudyBox h1, .partnersBox h1{
  font-size:24px;
}
.caseStudyBox p, .careerTable{
  font-size:12px;
}
.icons{
  height:40px;
}
.caseSub h2, .caseSub h3, .caseSub button{
  margin-left: 8%;
}
.careerTableTop{
  width:95vw;
}
.bannerDetails{
 
  bottom:35px;
 
}
}

@media only screen and (max-width: 500px) {
  .caseheading,.subheading{
    font-size:12px !important;
    }
    .topbannerDetailsInAcademy h1{
      font-size:18px !important;
    }
    .topbannerDetailsInAcademy{
      top:13vh !important;
     }
     .topbannerDetailsInAcademy .btn{
         
     padding :3px 35px;
    
    }
   
}
@media only screen and (max-width: 430px) {
  .heading{
    font-size:24px;
   } 
  .bannerDetails{
 
    bottom:35px;
   
  }
  .careerTableTop{
    width:98vw;
  }
  .caseSub h2, .caseSub h3, .caseSub button{
    margin-left: 4%;
  }
  .bannerImg{
    height:70vh;
  }
  .bannerDetails h3{
  font-size:12px;
  }
  .styleDiv p, .bannerDetails p, .detailBox p, .solnsDivstyle p, .eachServicesDivstyle p, .det, .extraText, .careerTable{
    font-size:10px !important;
  } 
  .detailBox h1 , .careerTableTop h1{
    font-size: 20px;
  }
  .h3style{
    font-size:12px;
    
  }
  .caseStudyBox h1 , .partnersBox h1,.head, .content{
    font-size:20px;
  }
  .caseStudyBox p{
    font-size:12px;
  }

    .icons{
      height:30px;
    }
    .solDivstyle img{
      height:20px;
      width:20px;
    }
    .topbannerDetailsInAcademy h1{
      font-size:14px !important;
    }
    .topbannerDetailsInAcademy .btn {
      font-size:10px !important;
    }
    .topbannerDetailsInAcademy p{
      font-size:10px;
      
    }
    .topbannerDetailsInAcademy .btn{
         padding :1px 25px;
     
     }
}
@media only screen and (max-width: 340px) {
  .heading{
    font-size:24px;
   } 
   .caseheading,.subheading{
    font-size:10px;
    }
    .caseSub h2, .caseSub h3, .caseSub button{
      margin-left: 1%;
    }
    .topbannerDetailsInAcademy h1{
      font-size:12px !important;
    }
    .topbannerDetailsInAcademy .btn {
      font-size:8px !important;
    }
    .topbannerDetailsInAcademy p{
      font-size:8px;
      
    }
    .topbannerDetailsInAcademy .btn{
         padding :1px 15px;
     
     }
}
